body {
    background: #b8e3e9;
}

.container {
    width: 800px;
    height: 600px;
    border: 1px solid #1D361B;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.grid div {
    box-sizing: border-box;
    border: 1px solid #1D361B;
}

.inputGridSize, .buttonReset {
    height: 40px;
    width: 210px;
    margin-top: 5px;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #c71585;
    color: #b8e3e9;
}

.inputGridSize::placeholder {
    color: #b8e3e9;
}

.buttonReset {
    margin-left: 25px;
}