body {
    display: flex;
    flex-direction: column;
    background: #b8e3e9;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 50%;
    height: 80%;
    border: 1px solid #1D361B;
    display: flex;

    overflow: hidden;
}


.grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
}

.grid div {
    box-sizing: border-box;
    border: 1px solid #1D361B;
}

.inputGridSize, .buttonReset {
    height: 40px;
    width: 210px;
    margin-top: 10px;
    text-align: center;
    font-size: 16px;
    box-sizing: border-box;
    background-color: #c71585;
    color: #b8e3e9;
}

.inputGridSize::placeholder {
    color: #b8e3e9;
}